# Python
/.venv
/.gcmvenv
__pycache__

# Build
/dist

# Pytest
.pytest_cache/

# Sphinx
docs/build/*
docs/source/reference/generated

# User space
usr/

# Example notebooks
examples/**/**.ipynb

# log files
**/log.txt
**/log.log

# Numerical data
**/**.nc
